NODE_ENV=development
PORT=3000

DATABASE_HOST=ledger-ledgerwallet.b.aivencloud.com
DATABASE_PORT=23261
DATABASE_USER=avnadmin
DATABASE_PASSWORD=
DATABASE_NAME=lendsqr_wallet_service
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_SSL_CA=

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=
